{% extends "base.html" %}
{% block content %}
    <h1>Welcome, {{ current_user.username }}!</h1>
    <form action="/create_task" method="post">
        <input type="text" name="name" placeholder="Task Name" required>
        <textarea name="description" placeholder="Task Description"></textarea>
        <button type="submit">Create Task</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>{{ task.name }} - {{ task.description }}
                <a href="/complete_task/{{ task.id }}">Complete</a>
                <a href="/delete_task/{{ task.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}